*{ padding:0; margin:0; box-sizing: border-box; list-style-type: none; text-decoration: none;}

.container{
    padding: 50px 100px;
    width:100%;
    font-family: montserrat, sans-serif;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img{
    width:156px;
    height:156px;
    border-radius: 5%;
    margin: 10px 0;
}
.profile h2{
    font-size:24px;
}
.profile p{
    font-size:14px;
    color: #A9A9A9;
}
.influence{
display:flex;
justify-content: center;
margin: 24px;
}
.small-wrapper{
    width: 100px;
    height: 67px;
    border-radius: 10%;
    background-color: #E5E5E5;
    display: flex;
    margin: 0 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-wrapper h4{
    color:#4E5150;
}
.small-wrapper p{
    font-size:14px;
    color:#BDBDBD;
}
.grids{
    display: grid;
    grid-template-areas: 
    "one two two"
    "three three four"
    "five six four"
    ;
    gap:32px;
}
.one1{
    grid-area: one;
}
.one2{
    grid-area: two;
}
.two1{
    grid-area: three;
}
.collspan{
    grid-area: four;
}
.three1{
    grid-area: five;
}
.three2{
    grid-area: six;
}
.grids img{
    width:100%;
    border-radius: 5%;
}
footer{
    width: 100%;
    margin-top:50px;
    text-align:center;
    color:#B9BDCF;
    font-size:14px;
}

/* medium screen */  
@media screen and (max-width: 768px) and (min-width: 481px) {  } 
/* small screen */  
@media screen and (max-width: 480px) { 

.profile img{
    width:100px;
    height:100px;
    border-radius: 15%;
}
.profile h2{
    font-size: 14px;
}
.profile p{
    font-size: 10px;
}
.container{
    padding: 15px 15px;
}
.small-wrapper{
    width: 78px;
    height: 52px;
    border-radius: 15%;
}
.small-wrapper h4{
    font-size:12px;
}
.small-wrapper p{
    font-size:10px;
}
.influence{
margin: 12px 0 24px 0;
}
.grids{
    gap:8px;
}
footer{
    font-size:12px;
}

 }